<!doctype html>
{% extends "todo_lists/base.html" %}

{% block edit-todo %}
<div class="card form_distance" style="width: 40rem; height: 800px; margin: 50px 30%;">
	<p class="card-title"><a href="{% url 'todo_lists:project' project.id %}" class="resources_link">Project:{{ project }}</a></p>
		
		<p class="card-title">Edit todo list:</p>

		<form action="{% url 'todo_lists:edit_todo' todo.id %}" method="post" class="card-text">
			{% csrf_token %}
			{{ form.as_p }}
			<button name="submit" class="btn btn-secondary btn-sm">Save changes</button>
		</form>
	</div>
	
{% endblock %}