<!doctype html>
{% extends "todo_lists/base.html" %}



<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="P&NP projectpage">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="{% static 'todo_lists/styles.css' %}">
  <title>Project Page</title>
</head>
<body>
  <header>
    <div class="header" >
      <p>PNP logo</p>
    </div> -->
<!--    <div class="right">

      <div id="login" >
        <p>log-in</p>
      </div>
      <div id="register" >
        <p>Register</p>
      </div>

    </div> -->
    <!-- <div class="search">
      <div class="searchbar">
        <img src="" alt="search icon">
        <p>Search</p>
      </div>
    </div>
  </header>

  <div class="main">
    <div class="left">
      <div id="profile">
        <div id="inlineblock1">
          <img src="" alt="profile pic">
        </div>
        <div id="inlineblock2">
          <p>Job Title</p>
          <p>User Name</p>
        </div>

      </div>
      <div class="lefttag">
        <p>Project</p>
      </div>
      <div class="lefttag">
        <p>Team</p>
      </div>
      <div class="lefttag">
        <p>Inbox</p>
      </div>
      <div class="lefttag">
        <p>Personal</p>
      </div>
    </div> -->








    
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxx-first-section-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

    {% block content %}
    <div class="mainright">
      <section class="inline">
        <div class="toplist">
          <p>To-do list</p>
        </div>
        <div class="innerbox">
          <div class="inner">
            <p>1</p>
          </div>
          <div class="inner">
            <p>2</p>
          </div>
          <div class="inner">
            <p>3</p>
          </div>
        </div>
      </section>
      <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxx-second-section-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
      <section class="inline">
        <div class="toplist">
          <p>In progress</p>
        </div>
        <div class="innerbox">
        <div class="inner">

        </div>
        <div class="inner">

        </div>
        <div class="inner">

        </div>
      </div>
      </section>
      <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxx-third-section-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
      <section class="inline">
        <div class="toplist">
          <p>Done</p>
        </div>
        <div class="innerbox">
          <div class="inner">

          </div>
          <div class="inner">

          </div>
          <div class="inner">

          </div>
        </div>
      </section>
      <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxx-end-of-section-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    </div>
    <div class="mainbottom">

    </div>
  
  {% endblock content %}
  <!-- <footer>

  </footer>
</body>
</html> -->
