<!doctype html>
{% extends "todo_lists/base.html" %}

{% block wiki %}
<div class="container px-1 py-5 " id="hanging-icons">
  <h2 class="pb-2 border-bottom" style="text-align: center;">Company Wiki Page
  </h2>

    <div class="row">
      <div class="col-lg-6 card card-cover overflow-hidden text-black bg-white rounded-5 shadow-lg">
        <h2>Company projects</h2><hr>
        <p>Myer website improvement. </p><p><a href="http://127.0.0.1:8000/todo_lists/readwiki1" class="resources_link btn btn-secondary btn-sm text-white">Click here to read.</a> <a href="http://127.0.0.1:8000/todo_lists/wiki1" class="resources_link btn btn-secondary btn-sm text-white">Click here to download</a> <a href="https://www.myer.com.au/" class="resources_link btn btn-secondary btn-sm text-white">   Reference</a></p>
        <p>JB HIFI online stock system.  </p><p><a href="http://127.0.0.1:8000/todo_lists/readwiki2" class="resources_link btn btn-secondary btn-sm text-white">Click here to read.</a> <a href="http://127.0.0.1:8000/todo_liststodo_lists/wiki2" class="resources_link btn btn-secondary btn-sm text-white">Click here to download</a>  <a href="https://www.jbhifi.com.au/" class="resources_link btn btn-secondary btn-sm text-white">   Reference</a></p>
        <p>David jones online payment system.  </p><p><a href="http://127.0.0.1:8000/todo_lists/readwiki3" class="resources_link btn btn-secondary btn-sm text-white">Click here to read.</a> <a href="http://127.0.0.1:8000/todo_lists/wiki3" class="resources_link btn btn-secondary btn-sm text-white">Click here to download</a>  <a href="https://www.davidjones.com/" class="resources_link btn btn-secondary btn-sm text-white">   Reference</a></p>
        <p>Cotton on in-store employee managing system.  </p><p><a href="http://127.0.0.1:8000/todo_lists/readwiki4" class="resources_link btn btn-secondary btn-sm text-white">Click here to read.</a> <a href="http://127.0.0.1:8000/todo_lists/wiki4" class="resources_link btn btn-secondary btn-sm text-white">Click here to download</a>  <a href="https://cottonon.com/" class="resources_link btn btn-secondary btn-sm text-white">   Reference</a></p>
      </div>
      <div class="col-lg-6 card card-cover overflow-hidden text-black bg-white rounded-5 shadow-lg">
        <h2>General company protocols</h2><hr>
        <p>Workplace health and safety policy.  </p><p><a href="http://127.0.0.1:8000/todo_lists/readwiki5" class="resources_link btn btn-secondary btn-sm text-white">Click here to read.</a> <a href="http://127.0.0.1:8000/todo_lists/wiki5" class="resources_link btn btn-secondary btn-sm text-white">Click here to download</a>  <a href="https://resources.workable.com/workplace-health-and-safety-company-policy" class="resources_link btn btn-secondary btn-sm text-white">   Reference</a></p>
        <p>Equal opportunity policy.  </p><p><a href="http://127.0.0.1:8000/todo_lists/readwiki6" class="resources_link btn btn-secondary btn-sm text-white">Click here to read.</a> <a href="http://127.0.0.1:8000/todo_lists/wiki6" class="resources_link btn btn-secondary btn-sm text-white">Click here to download</a>  <a href="https://resources.workable.com/equal-opportunity-company-policy" class="resources_link btn btn-secondary btn-sm text-white">   Reference</a></p>
        <p>Employee Code of Conduct Policy.  </p><p><a href="http://127.0.0.1:8000/todo_lists/readwiki7" class="resources_link btn btn-secondary btn-sm text-white">Click here to read.</a> <a href="http://127.0.0.1:8000/todo_lists/wiki7" class="resources_link btn btn-secondary btn-sm text-white">Click here to download</a>  <a href="https://resources.workable.com/employee-code-of-conduct-company-policy" class="resources_link btn btn-secondary btn-sm text-white">   Reference</a></p>
        <p>Leave of Absence Policy.  </p><p><a href="http://127.0.0.1:8000/todo_lists/readwiki8" class="resources_link btn btn-secondary btn-sm text-white">Click here to read.</a> <a href="http://127.0.0.1:8000/todo_lists/wiki8" class="resources_link btn btn-secondary btn-sm text-white">Click here to download</a>  <a href="https://resources.workable.com/sick-leave-company-policy" class="resources_link btn btn-secondary btn-sm text-white">   Reference</a></p>
      </div>
    </div>

</div>
{% endblock %}