body{
  
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  line-height: normal;
  width: 100%;
  height: 100%;
  margin: 0px;
}
/* header */
header{
  width: auto;
  height: 62px;
  border-bottom: 1px solid black;
  padding: 0px 20px;
  min-width: inherit;
}
.header{
float: left;
margin: 16px 20px;
}
.right p, .header p{
  margin: 6px 0px;
}
.right{
  float: right;
  height: 100%;
  margin-right: 10px;
}
#login, #register{
  width: 130px;
  height: 30px;
  border: 1px solid black;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  margin: 15px 10px;
}
#login{
  background-color: black;
  color: white;
}
/* end header */
/* main body */
.main{
  background-image: url(Back.jpg);
  width: 100%;
  height: auto;
  position: relative;
  background-color: #ececec;
  padding-bottom: 30px;
  background-size: auto;
}
#logincenter a:visited{
  color: white;
}
#logincenter{
  width: 200px;
  height: 60px;
  border: 1px solid black;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  display: table;
}
#logincenter p, .lefttag p{
  display: table-cell;
  vertical-align: middle;
}
/* end main body */
/* search bar */
.search{
  margin: auto;
  width: 60%;
  height: 40px;

  padding: 11px 0px;
}
.searchbar{
    background-color: darkgrey;
    height: 100%;
}
.search img{
  background-size: contain;
}
.searchbar img, .searchbar p{
  display: inline-block;
}
/* left float */
.left{
  float: left;
  width: 20%;
  height: 100%;
}
.lefttag{
  width: 75%;
  height: 80px;
  display: table;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: lightgrey;
  margin: 20px auto;
  text-align: center;
  font-size: 22px;
}
#profile{
  width: 200px;
  height: 120px;
  margin: auto;
}
#inlineblock1{
  display: inline-block;
  width: 30%;
  height: 100%;

}
#inlineblock2{
  display: inline-block;
  width: 60%;
  height: 100%;

}
/*end left float */
/* mainright */
.mainright{
margin-left: 20%;
height: 600px;
width: 80%;
position: relative;
display: flex;
flex-direction: row;
}
.inline{

  height: 100px;
  width: 30%;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 30px 5px;
  background-color: darkgrey;
}
.toplist p{
  font-size: 20px;
  font-weight: bold;
  height: 30px;

  padding: 10px;
  margin: 0px;
  background-color: lightgrey;
}
/*  inner */
.inner{
  width: 80%;
  height: 30%;
  margin: 10px auto;
  background-color: #c4c5c6;

}
.innerbox{
  display: flex;
  height: 450px;
  flex-direction: column;
  padding: 20px 0px;
}
.mainbottom{
  margin: 0px 5% 0px 20%;

  border: 2px solid lightgrey;
  height: 200px;

  background-color: lightgrey;
  border-radius: 10px;
}

/*.projectBox {
  width: 75%;
  height: 200px;
  display: table;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: lightgrey;
  margin: 20px auto;
  text-align: center;
  font-size: 22px;
}*/


